.left-inner-addon {
  position: relative;
  color: darkred !important;
}
.left-inner-addon input {
  padding-left: 17px;
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 7px;
  pointer-events: none;
}
#tooltip:after{
  font-family: "Glyphicons Halflings";
  content: " \e085";
  border-radius: 5px;
  color: #448ccb;
}
hr {
  clear:both;
  display: block;
  border-style: inset;
}
.tooltip1 {
  position: relative;
  display: inline-block;
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 229px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 21px;
  position: absolute;
  z-index: 11;
  bottom: 125%;
  left: 50%;
  margin-left: -114px;
  opacity: 0;
  transition: opacity 1s;
}

.spantag {
  display: list-item;
  list-style-type: disc;
  list-style-position: inherit;
}

.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
  opacity: 1;
}

#exTab1 .tab-content {

<!--background-color: #3a87ad;-->
  padding : 1px 1px;
}
.tab-pane .bgColor, h2{
  background-color: white;
  padding : 1% 1%;
}
#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #015db1;
  padding : 5px 15px;
}


ul.nav-wizard {

  background-color: white;
  border: 0px solid #d4d4d4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-left: 5px;
}
ul.nav-wizard:before {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 46px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
  color: #ffffff !important;
}
ul.nav-wizard:after {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 138px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard li {
  position: relative;
  float: left;
  height: 46px;
  display: inline-block;
  text-align: middle;
  padding: 0 20px 0 30px;
  margin: 0;

  line-height: 46px;
}
ul.nav-wizard li a {
  color: #0f5c9e;
  padding: 4px;
}
ul.nav-wizard li a:hover {
  background-color: transparent;
}
ul.nav-wizard li:before {
  color:#a7afb7 !important;
  position: absolute;
  display: block;
  border: 20px solid transparent;
  border-left: 16px solid #015db1;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -16px;
}
ul.nav-wizard li:after {
  position: absolute;
  display: block;
  border: 20px solid transparent;
  border-left: 16px solid;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -16px;
  color: #ffffff !important;
}
ul.nav-wizard li.active {
  color: #3a87ad;
  background: #015db1;
}
ul.nav-wizard li.active:after {
  border-left: 16px solid #015db1;
}
ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
  color: white !important;
  background: #015db1;
}
ul.nav-wizard .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
  color: #a7afb7 !important;
  background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav li:hover {
  color: #468847 !important;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover:after {
  border-left: 16px solid #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
  color: #468847;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}



.scrollit { height:300px; overflow-y:scroll;}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}



.container {

  padding-left: 5px !important;
  margin-left: -1%;
}


.nav-tabs > li {
  margin-top:1px !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0px solid #ddd !important;
}



.modal-dialog {
  width: 88%;
  margin: 30px auto;
}
.date-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  color:#fff;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tooltipbadge {
  display: inline-block;
  min-width: 25px;
  padding: 6px 7px;
  /* font-size: 12px; */
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 6px;
  background-color: #438dcc
}
.anchor-no-underline{
  text-decoration: none !important
}
.badge{
  padding: 4px 7px 4px 7px !important;
  background-color: #015db1
}

#addressInputField1  {
  width: 95.666667% !important;
}

#addressSpantooltip1 {
  width: 4.333333% !important;
}

#addressInputField2  {
  width: 95.666667% !important;
}

#addressSpantooltip2 {
  width: 4.333333% !important;
}

.form-control {
  color: #999999;
}

.glyphicon-trash{
   color: #085db0 !important;
}

.idProofFileDropColor{
  margin: auto;
  height: 100px;
  border: 2px dotted #0782d0;
  border-radius: 30px;
}
.addressProofFileDropColor{
  margin: auto;
  height: 100px;
  border: 2px dotted #0782d0;
  border-radius: 30px;
}

.labelStyle {
  color: #999999;
  font-family: inherit;
}

#rectangle{
  width:100%;
  height:100%;
  background-color:#e0e3e6;
  word-wrap: break-word;
}
#rectangleForReview{
  width:min-content;
  height:auto;
  word-wrap: break-word;
}
.borderless td,.borderless th {
  border: none;
}

.transponderFontColor{

  color:#4a83c1;
}
.Rectangle-1 {
  width: 33%;
  height: 100%;
  padding: 3%;
  border: solid 2px #085db0;
}

.thstyle {
  background-color: #eff1f2;
  border: 2px 2px 2px 0px solid #637283 !important;
}
.nav-pills > li.inneractive > a, .nav-pills > li.inneractive > a:hover, .nav-pills > li.inneractive > a:focus{
  background-color: white !important;
  border-radius: 10px;
}
.list-group-item.active > .badge, .nav-pills > .inneractive > a > .badge {
  color: #fff;
  background-color: #015db1;
}



hr.fancy-line {
  border: 0;
  height: 1px;
  position: relative;
  margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
  top: -0.5em;
  height: 1em;
}
hr.fancy-line:after {
  content:'';
  height: 0.5em;   /* half the height of :before */
  top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

 hr.fancy-line:after {
  background: #f4f4f4;
}

.box {
  padding: 16px 5px 2px 5px;
}
 .box:not(:last-child) {
  margin-right: 90px;
}
.box:not(:last-child):after {
  position: absolute;
  content: '';
  right: -168%;
  top: 0%;
  width: 219%;
  height: 50%;
  border-bottom: 1px solid #dddddd;
  color: #4a4a4a;
}





